.button {
    @include roboto-regular;
    color: $textBlack;
    background-color: $white;
    padding: 0;
    margin: 0;
    width: 228px;
    height: 49px;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid $black;
    border-radius: 24px;
    transition: 0.3s;

    @include adaptivity(654px) {
        font-size: 14px;
        border-radius: 20px;
        width: 169px;
        height: 40px;
    }

    &:hover {
        font-weight: 500;
        cursor: pointer;
        opacity: .5;
        transition: 0.3s;
    }
}