.button {
    @include roboto-regular;
    color: $textBlack;
    background-color: $white;
    padding: 0;
    margin: 0;
    width: 228px;
    height: 49px;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid $black;
    border-radius: 24px;
    transition: 0.3s;

    &:hover {
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }
}