.join {
    background-color: $redGeneral;
    padding: 50px 50px 36px;

    @include adaptivity(1250px) {
        padding: 40px;
    }

    @include adaptivity(654px) {
        padding: 20px;
    }

    &__container {
        @include flex(stretch, flex-start);
        gap: 50px;
    }

    &__group {
        width: 100%;
    }

    &__title {
        @include roboto-regular;
        font-size: 120px;
        line-height: 120px;
        color: $textWhite;
        margin-bottom: 120px;
        max-width: 700px;


        @include adaptivity(979px) {
            font-size: 100px;
            line-height: 100px;
        }

        @include adaptivity(788px) {
            margin-bottom: 200px;
        }

        @include adaptivity(697px) {
            font-size: 80px;
            line-height: 80px;
        }

        @include adaptivity(654px) {
            font-size: 48px;
            line-height: 50px;
            // max-width: 280px;
            margin-top: 20px;
            border-top: 1px solid $white;
            padding-top: 20px;
            margin-bottom: 209px;
        }
    }

    &__image {
        max-width: 129px;
        height: 100%;

        @include adaptivity(979px) {
            display: none;
        }
    }

    &__form {
        background-color: $white;
        border: 2px solid $black;
        border-radius: 8px;
        height: 46px;
        width: 551px;

        @include adaptivity(654px) {
            width: 276px;
        }
    }

    &__input-button,
    &__input-email,
    &__input-email::placeholder {
        @include roboto-regular;
        color: $textBlack;
        font-size: 14px;
        line-height: 24px;

        @include adaptivity(654px) {
            font-size: 11px;
        }
    }

    &__input-email {
        border: none;
        width: 328px;
        margin-left: 20px;
        padding: 0;
        cursor: pointer;

        @include adaptivity(654px) {
            width: 147px;
        }
    }

    &__input-email:active,
    &__input-email:focus {
        outline: none;
        border: none;
        cursor: pointer;
    }

    &__input-button {
        height: 100%;
        background-color: $white;
        border: none;
        border-left: 2px solid $black;
        padding: 0 0 0 60px;

        @include adaptivity(654px) {
            font-size: 11px;
            padding: 0 0 0 18px;
        }
    }

    &__input-button:hover {
        font-weight: 500;
        cursor: pointer;
    }
}