.footer {
    background-color: $redGeneral;

    &__copyright {
        @include roboto-bold;
        font-size: 15px;
        line-height: 24px;
        color: $textWhite;
        padding: 50px;

        @include adaptivity(788px) {
            padding: 40px;
            min-height: auto;
        }

        @include adaptivity(654px) {
            font-size: 12px;
            padding: 20px;
        }
    }
}