.orders {
    background-color: $white;
    padding: 50px 50px;

    &__container {
        display: grid;
        grid-template-rows: 28px min-content min-content;
        grid-template-columns: min-content 1fr;
    }

    &-item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 1;
    }

    &-item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 50px 0 106px;
    }

    &-item:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        justify-self: end;
    }

    &-item:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
        align-self: flex-end;
        justify-self: end;
    }

    &__block-reviews {
        max-width: 380px
    }

    &__suptext {
        @include roboto-regular;
        color: $textBlack;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
    }

    &__title {
        @include roboto-regular;
        color: $textBlack;
        font-size: 64px;
        line-height: 64px;
    }

    &__text {
        @include roboto-regular;
        color: $textBlack;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 148px;
    }
}