@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin background-image($url, $cover: cover) {
    background-image: url($url);
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: $cover;
}