.header {
    background-color: $redGeneral;
    min-height: 84px;
    @include flex(center, space-between);
    padding: 0 50px;

    @include adaptivity(1250px) {
        padding: 0 40px;
    }

    @include adaptivity(654px) {
        min-height: 70px;
        padding: 0 20px;
    }

    &__links {
        list-style: none;
        @include flex(center, space-between);
        gap: 44px;

        @include adaptivity(654px) {
            display: none;
        }
    }

    &__link {
        @include roboto-regular;
        color: $textWhite;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            @include roboto-bold;
        }
    }

    &__logo {
        @include adaptivity(788px) {
            width: 36px;
            height: 36px;
        }

        @include adaptivity(654px) {
            width: 30px;
            height: 30px;
        }
    }
}