.header {
    background-color: $redGeneral;

    &__container {
        min-height: 84px;
        padding: 0 50px;
        @include flex(center, space-between);

        @include adaptivity(1250px) {
            padding: 0 40px;
        }

        @include adaptivity(654px) {
            min-height: 70px;
            padding: 0 20px;
        }
    }

    &_sticky {
        position: sticky;
        top: 0;
    }

    &__close-button {
        display: none;
        background-color: $redGeneral;
        border: none;
        padding: 0;
        position: absolute;
        right: 40px;
        cursor: pointer;

        @include adaptivity-min(654px) {
            right: 20px;
        }
    }

    &__close-button_visible {
        display: block;
    }

    &__bar {
        display: none;
        background-color: $redGeneral;
        border: none;
        padding: 0;
        position: absolute;
        right: 40px;
        cursor: pointer;

        @include adaptivity-min(768px) {
            display: block;
        }

        @include adaptivity-min(654px) {
            right: 20px;
        }
    }

    &__links {
        list-style: none;
        @include flex(center, space-between);
        gap: 44px;
        padding: 0;

        @include adaptivity(768px) {
            display: none;
            gap: 12px;
        }
    }

    &__links_unfolded {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-bottom: 26px;
    }

    &__link {
        @include roboto-regular;
        color: $textWhite;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            @include roboto-bold;
        }
    }

    &__logo {
        @include adaptivity(788px) {
            width: 36px;
            height: 36px;
        }

        @include adaptivity(654px) {
            width: 30px;
            height: 30px;
        }
    }
}